{% if section.settings.enable %}
  <div class="module-wrapper style-{{ section.settings.style }}">
    {% form 'customer' %}
      <div class="module newsletter-form">
        <div class="newsletter-form-container">

          <div class="module-header">
            <h3 class="module-title">
              {{ 'general.mailing_list.title' | t }}
            </h3>
            <p class="module-subtitle">
              {{ 'general.mailing_list.description' | t }}
            </p>
          </div>

          <div class="module-body">
            <div class="newsletter-form-container">
              {% if form.posted_successfully? %}
                <p class="module-subtitle">
                  {{ 'general.mailing_list.success' | t }}
                </p>
              {% else %}
                {% if form.errors %}
                  <div class="newsletter-form-message">
                    {{ form.errors | default_errors }}
                  </div>
                {% endif %}

                <input type="hidden" id="contact_tags" name="contact[tags]" value="prospect, newsletter">

                <div class="newsletter-field-wrapper">
                  <div class="newsletter-form-field">
                    <input
                      class="newsletter-form-email icon-arrow-right"
                      name="contact[email]"
                      type="email"
                      placeholder="{{ 'general.general.email_placeholder' | t }}"
                      aria-label="{{ 'general.general.email_placeholder' | t }}">
                    <div class="newsletter-form-field-icon icon icon-mail"></div>
                  </div>

                  <div class="newsletter-form-cta">
                    <input
                      class="newsletter-form-submit"
                      name="subscribe"
                      type="submit"
                      value="{{ 'general.general.subscribe' | t }}"
                      aria-label="{{ 'general.general.subscribe' | t }}" />
                    <div class="newsletter-form-submit-icon icon icon-arrow-right"></div>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>

        </div>
      </div>
    {% endform %}
  </div>
{% endif %}

{% schema %}
{
  "name": "Newsletter",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable",
      "label": "Enable",
      "default": true
    },
    {
      "type": "select",
      "id": "style",
      "label": "Background style",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "light",
          "label": "Light"
        },
        {
          "value": "color",
          "label": "Color"
        },
        {
          "value": "gradient",
          "label": "Gradient"
        }
      ],
      "default": "default"
    }
  ]
}
{% endschema %}